<center><h1>Welcome To The Conference App</h1></center>


<body style="background-color: #EEEEEE">
<div id="DIV_1" >
  <form id="FORM_2">
    <center><h2 id="H2_3">
      Please sign in
    </h2></center>
    <%= form_tag signin_path, class: 'form' do %>

    <%= text_field_tag "email", nil, placeholder: 'Enter your email', id: "INPUT_4", :require => true, :autofocus => true %>

    <%= password_field_tag "password", nil, placeholder: 'Password', id: "INPUT_5", :require => true %>

    <div id="DIV_6">

      <label id="LABEL_7">
        <input type="checkbox" value="remember-me" id="INPUT_8" /> Remember me
      </label>
    </div>

    <%= submit_tag "Sign in", class: 'btn btn-sm', id: "BUTTON_9" %>
  </form>
</div>
</body>


<center><%= link_to 'Sign Up Here', signup_path  %></center>

<% end %>

