<h3 class="text-center cst_h3">
  <%= link_to 'Add New', new_campus_path, class: 'btn btn-primary btn-sm', role: 'button', style: 'float: left' %>
  Campuses - Listing
</h3>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip Code</th>
    <th>Phone Number</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @campuses.each do |campus| %>
      <tr>
        <td><%= campus.name %></td>
        <td><%= campus.street_address %></td>
        <td><%= campus.city %></td>
        <td><%= campus.state %></td>
        <td><%= campus.zip_code %></td>
        <td><%= campus.phone_number %></td>
        <td><%= link_to campus do %>
              <span class="glyphicon glyphicon-eye-open" title="Display"></span>
          <% end %>
        </td>
        <td><%= link_to edit_campus_path(campus) do %>
              <span class="glyphicon glyphicon-pencil" title="Edit"></span>
          <% end %>
        </td>
        <td><%= link_to campus, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove" title="Remove"></span>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>